<%- include('../partials/header'); %>
<body>
  <a href="/pavilions/new">
    <h3>Add a Pavilion</h3>
  </a>
  <br />

  <div class="cards-container">
    <% pavilions.forEach((pavilion, index) => { %>
    <div class="card">
      <div
        class="card-image"
        style="
          background-image: url('https://source.unsplash.com/collection/2533969/1600x900?sig=<%= Date.now() + index %>');
        "
      ></div>
      <div class="card-text">
        <div>
          <h2><%= pavilion.name %></h2>
          <p><%= pavilion.description %></p>
        </div>
        <div class="card-links">
          <a href="/pavilions/<%= pavilion.id %>">View Booths</a>&nbsp|&nbsp
          <a href="/pavilions/<%= pavilion.id %>/menus">View Menus</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</body>
<%- include('../partials/footer'); %>
