<%- include('../partials/header'); %>
<body>
  <p><%= pavilion.description %></p>

  <h2>Booths</h2>
  <ul>
    <% boothList.forEach(function(booth) { %>
    <li>
      <a href="/booths/<%= booth._id %>"><%= booth.name %></a>
      <p><%= booth.description %></p>
      <!-- Add any other booth details you want to display -->
    </li>
    <% }); %>
  </ul>
</body>
<%- include('../partials/footer'); %>
