<%- include('../partials/header'); %>
<body>
  <p><%= pavilion.description %></p>
  <br />
  <div class="cards-container">
    <% pavilion.booths.forEach((booth, index) => { %>
    <div class="menu-card">
      <h2><%= booth.name %> Booth</h2>
      <p><%= booth.description %></p>

      <table id="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% pavilion.items.forEach(function(item) { %> <% if (item.booth ===
          booth.name) { %>
          <tr>
            <td><%= item.name %></td>
            <td>$<%= item.price.toFixed(2) %></td>
            <td><%= item.description %></td>
            <td><a href="/items/<%= item._id %>">Reviews</a></td>
          </tr>
          <% } %> <% }); %>
        </tbody>
      </table>
    </div>
    <% }) %>
  </div>
</body>
<%- include('../partials/footer'); %>
