<%- include('../partials/header'); %>
<body>
  <p><%= pavilion.description %></p>

  <h2>Booths</h2>
  <% boothList.forEach(function(booth) { %>
  <div class="card">
    <h3><%= booth.name %></h3>
    <p><%= booth.description %></p>
    <a href="/booths/<%= booth._id %>">View Menu</a>
  </div>
  <% }); %>
</body>
<%- include('../partials/footer'); %>
