<%- include('../partials/header') %>
<a href="/booths/new">
  <h3>Add a Menu Item</h3>
</a>
<br />
<div class="cards-container">
  <div class="menu-card">
    <table id="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Booth</th>
          <th>Pavilion</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(function(item) { %>
        <tr>
          <td><%= item.name %></td>
          <td>$<%= item.price.toFixed(2) %></td>
          <td><%= item.booth %></td>
          <td><%= item.pavilion %></td>
          <td><%= item.description %></td>
          <td><a href="/items/<%= item._id %>">Reviews</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>
