<%- include('../partials/header') %>
<div class="large-menu-card">
  <div
    class="card-image"
    style="
      background-image: url('https://source.unsplash.com/collection/2533969/1600x900?sig=<%= Date.now() + 0 %>');
    "
  ></div>

  <div class="menu-item-card-text">
    <h2><%= item.name %></h2>

    <table>
      <thead>
        <tr>
          <th>Price</th>
          <th>Booth</th>
          <th>Pavilion</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$<%= item.price.toFixed(2) %></td>
          <td><%= item.booth %></td>
          <td><%= item.pavilion %></td>
          <td><%= item.description %></td>
        </tr>
      </tbody>
    </table>

    <% if (item.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %> <% item.reviews.forEach(review => { %> <% total +=
        review.rating %>
        <tr>
          <td class="review-user">
            <img
              alt="avatar"
              src="<%= review.userAvatar %>"
              referrerpolicy="no-referrer"
            /><%= review.userName %>
          </td>
          <td class="review-date"><%= review.createdAt.toLocaleDateString() %></td>
          <td class="review-content"><%= review.content %></td>
          <td class="review-rating"><%= review.rating %></td>

          <% if (user?._id.equals(review.user)) { %>
          <td class="edit-review-form" style="display: none">
            <form class="update-review" action="/reviews/<%= review._id%>?_method=PUT" method="POST">
              <input type="text" name="content" value="<%=review.content%>" />
              <select name="rating" value="<%= review.rating %>">
                <option value="1" <% if (review.rating === 1) { %>selected<% } %>>1</option>
                <option value="2" <% if (review.rating === 2) { %>selected<% } %>>2</option>
                <option value="3" <% if (review.rating === 3) { %>selected<% } %>>3</option>
                <option value="4" <% if (review.rating === 4) { %>selected<% } %>>4</option>
                <option value="5" <% if (review.rating === 5) { %>selected<% } %>>5</option>
              </select>
            </form>
          </td>
          <td></td>

          <td>
            <button class="edit-btn">Edit</button>
          </td>

          <td>
            <form
              action="/reviews/<%= review._id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          </td>
        </tr>
        <% } %> <% }); %>
        <tr>
          <td colspan="3"></td>
          <td>
            <strong><%= (total / item.reviews.length).toFixed(1) %></strong>
          </td>
        </tr>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Reviews Yet</h5>
    <% } %>

    <div class="card-form">
      <form
        class="new-review"
        method="POST"
        action="/items/<%= item._id %>/reviews"
      >
        <label>Rating:</label>
        <br />
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
        <br />
        <label>Review:</label>
        <br />
        <textarea name="content"></textarea>
        <br />
        <input type="submit" value="Add Review" />
      </form>
    </div>
  </div>
</div>
<script>
  const editBtns = document.querySelectorAll(".edit-btn");
  const editReviewForms = document.querySelectorAll(".edit-review-form");
  const reviews = document.querySelectorAll(".review-content");
  const ratings = document.querySelectorAll(".review-rating");

  editBtns.forEach((btn, index) => {
    btn.addEventListener("click", () => {
      if (editReviewForms[index].style.display === "none") {
        
        editReviewForms[index].style.display = "block";
        reviews[index].style.display = "none";
        ratings[index].style.display = "none";
        btn.innerHTML = "Save";
      } else {
        
        if (btn.innerHTML === "Save") {
          editReviewForms[index].querySelector('form').submit();
        }

        editReviewForms[index].style.display = "none";
        reviews[index].style.display = "block";
        ratings[index].style.display = "block";
        btn.innerHTML = "Edit"; 
      }
    });
  });
</script>
<%- include('../partials/footer') %>