<%- include('../partials/header'); %>
<body>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% booth.items?.forEach((item) => { %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><a href="/booths/<%= booth.id %>/<%= item._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
<form action="/booths/<%= booth.id %>/items" method="POST">
  <h5>Name</h5>
  <input type="text" name="name" />
  <h5>Price</h5>
  <input type="number" name="price" min="0.00" max="10000.00" step="0.01" />
  <h5>Description</h5>
  <input type="text" name="description" />
  <br />
  <button type="submit">Add a Menu Item</button>
</form>
<%- include('../partials/footer'); %>
