<%- include('../partials/header'); %>
<body>
  <ul>
    <% booth.items?.forEach((item) => { %>
    <li><%= item.name %> (<%= item.price %>)</li>
    <% }) %>
  </ul>
  <form action="/booths/<%= booth.id %>/items" method="POST">
    <h5>Name</h5>
    <input type="text" name="name" />
    <h5>Price</h5>
    <input type="number" name="price" />
    <h5>Description</h5>
    <input type="text" name="description" />
    <br />
    <button type="submit">Add a Menu Item</button>
  </form>
  <br />
</body>
<%- include('../partials/footer'); %>
