<%- include('../partials/header'); %>
<body>
  <ul>
    <% booths.forEach((booth) => { %>
    <a href="/booths/<%= booth.id %>">
      <li style="color: <%= booth.color %>"><%= booth.name %></li>
    </a>
    <% }) %>
    <br />
    <br />
    <!-- <a href="/booths/new">Create New Booth</a> -->
  </ul>
  <br />
</body>
<%- include('../partials/footer'); %>
