<%- include('../partials/header'); %>
<body>
  <% if (booth.items.length) { %>
  <h2>
    Pavilion:
    <a href="/pavilions/<%= booth.pavilion %>"
      ><%= booth.items[0].pavilion %></a
    >
  </h2>
  <% } %>
  <p><%= booth.description %></p>
  <br />
  <div class="cards-container">
    <div class="menu-card">
      <div
        class="card-image"
        style="
          background-image: url('https://source.unsplash.com/collection/2533969/1600x900?sig=<%= Date.now() + 0 %>');
        "
      ></div>
      <table id="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% booth.items.forEach((item, index) => { %>
          <tr>
            <td><%= item.name %></td>
            <td>$<%= item.price.toFixed(2) %></td>
            <td><%= item.description %></td>
            <td><a href="/items/<%= item._id %>">Reviews</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>
<%- include('../partials/footer'); %>
